    canvas {
      margin-left: 15%;
    }

    .bold {
      font-weight: bold;
    }

    .side-nav {
      width: 15%;
      margin-top: 5%;
      position: absolute;
    }

    #simple:hover {
      background-color: #50ba5f;
    }

    #moderate:hover {
      background-color: #edd317;
    }

    #difficult:hover {
      background-color: #e65240;
    }

    #cart {
      position: absolute;
      margin-top: 20px;
      margin-left: 50px;
      width: 25px;
      height: 25px;
      border: 0;
      text-align: center;
      color: black;
    }

    .cartHasItems {
      background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
      background-size: 400% 100%;
      font-weight: bold;
      animation: rainbow 6s ease-in-out infinite;
    }

    .cartIsEmpty {
      border-color: #000;
    }

    @keyframes rainbow {

      0%,
      100% {
        background-position: 0 0;
      }

      50% {
        background-position: 100% 0;
      }
    }
